@charset "UTF-8";

ul#album-fotos {
    width: 700px;
    margin: 0 auto;
    padding: 50px;
    overflow: hidden;
    list-style: none;
    float: left;
}

ul#album-fotos li{
    float: left;
    width: 200px;
    height: 200px;
    margin: 10px;
    border: 2px solid white;
    background-color: white;
    box-shadow: 1px 1px 3px rgba(0, 0,0, 0.4);
}