@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid&family=Merriweather&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');

p{
    font-size: 16px;
    text-align: justify;
    color: black;
}

